.carousel .control-next.control-arrow:before {
    border-left: 8px solid #000;

}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #000;
}

.carousel.carousel-slider .control-arrow:hover {
    background: none !important;
}

 

.m-para {
    text-align: left;
    margin-top: 2%;
}

.icon {
    font-size: 25px;
    color: green;
}

.bg {
    background: #f7f7f7;
    padding: 5%;
}

.m-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-center {

    display: block;
    margin: 0 auto;
    width: 70%;
    padding-top: 2%;

}